<h1>New Place</h1>

<% if @current_user %>
  <%= form_with model: @place do |form| %>
  <div class="mb-3">
    <p>
      <%= form.label "name", class: "form-label"%>
      <%= form.text_field "name", class: "form-control" %>
    </p>
    </div>
    <p>
      <%= form.submit "Create Place", class: "btn btn-primary" %>
    </p>
  <% end %>
<% else %>
  You must first <a href="/sessions/new">login</a> to add a place.
<% end %>